$title-bg: tomato;
$title-color: purple;
$title-padding-y: 20px;
$title-padding-x: 35px;
$title-radius: 20px;
$title-transition: all 0.5s ease-in-out;
$radius-custom: 0 20px 20px 0;
$font-primary: "Cairo", sans-serif;
